/*========= APP FONTS CSS ========*/
.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-22 { font-size: 22px; }
.fs-24 { font-size: 24px; }
.fs-25 { font-size: 25px; }
.fs-26 { font-size: 26px; }
.fs-28 { font-size: 28px; }
.fs-30 { font-size: 30px; }

/*========= APP FONTS WEIGHT CSS ========*/
.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

/*========= APP BORDER RADIUS CSS ========*/
.br-3 {
	border-radius: 3px;
}
.br-5 {
	border-radius: 5px;
}
.br-10 {
	border-radius: 10px;
}

/*========= APP UTILITY CLASSES CSS ========*/
.section-padd {
	padding-top: 80px;
	padding-bottom: 80px;
}
.color-primary {
	color: var(--color-primary);
}
.color-secondary {
	color: var(--color-secondary);
}
.color-dark {
	color: var(--color-dark);
}

.bg-primary {
	background-color: var(--color-primary)!important;
}
.bg-secondary {
	background-color: var(--color-secondary)!important;
}

/*========= APP BUTTONS HOVER CSS ========*/
.btn-hover-primary:hover {
	background-color: var(--color-primary-hover)!important;
}
.btn-hover-secondary:hover {
	background-color: var(--color-secondary-hover)!important;
}

/*========= APP COMMON INPUT CSS ========*/
.form-control {
	height: 49px;
	border: var(--input-border) 1px solid;
	border-radius: 3px;
	color: var(--app-text-color);
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
}
.form-control:focus {
	border: var(--color-primary) 1px solid;
	box-shadow: none;
}

.btn-primary {
	height: 44px;
	line-height: 44px;
	background-image: var(--gradient);
	color: var(--color-white);
	padding: 0;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight: 500;
	border: none;
	/*display: inline-block;*/
}
.search-btn {
	height: 49px;
	line-height: 49px;
}

/*========= APP SELECT2 OVERRIGHT CSS ========*/
.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
	border: var(--input-border) 1px solid;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 49px;
    color: #7a8489;
    font-size: 14px;
}
.select2-container .select2-selection--single {
	height: 49px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
	right: 10px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 15px;
}
.select2-results__option {
	font-size: 14px;
}
.select2-results__option,
.select2-search--dropdown {
	padding: 10px 15px;
}
.select2-search--dropdown .select2-search__field {
	padding: 6px 10px;
	font-size: 14px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: var(--color-primary);
	color: var(--color-white);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-width: inherit;
	display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid var(--color-dark);
    border-right: 1px solid var(--color-dark);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	transform: rotate(135deg);
}

.search-filter .select2-container {
	width: 100%!important;
}
.search-filter .select2-container .select2-selection--single .select2-selection__rendered {
	font-size: 14px;
}
.search-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 39px;
    color: #7a8489;
}
.search-filter .select2-container .select2-selection--single {
	height: 39px;
}
.search-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
	right: 10px;
}

/* SLICK SLIDER OVERRIGHT CSS */
.slick-slide {
    margin: 0 15px;
}
.slick-list {
    margin: 0 -15px;
}
.slick-prev,
.slick-next {
	background-color: var(--color-white);
	width: 35px;
	height: 35px;
	border: var(--color-dark) 1px solid;
	border-radius: 100%;
	z-index: 1
}
.slick-prev {
	left: -20px;
}
.slick-next {
	right: -20px;
}
.slick-prev:hover, 
.slick-prev:focus, 
.slick-next:hover, 
.slick-next:focus {
	background-color: var(--color-primary);
	border: var(--color-primary) 1px solid;
}
.slick-prev:before, .slick-next:before {
	opacity: 1;
	content: '';
}
.slick-prev:before {
	transform: rotate(-135deg);
	display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--color-dark);
    border-right: 2px solid var(--color-dark);
    left: 2px;
    position: relative;
}
.slick-prev:hover:before,
.slick-prev:focus:before {
	border-top: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
}
.slick-next:before {
	transform: rotate(45deg);
	display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--color-dark);
    border-right: 2px solid var(--color-dark);
    left: -2px;
    position: relative;
}
.slick-next:hover:before,
.slick-next:focus:before {
	border-top: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
}
.slick-dots {
	bottom: -72px;
}
.slick-dots li button:before {
	font-size: 14px;
	color: var(--color-white);
	opacity: .4;
}
.slick-dots li.slick-active button:before {
	color: var(--color-white);
	opacity: 1;
}