/*========= APP MEDIA QUERIES CSS ========*/
@media (min-width: 1200px) {
  .container {
      max-width: 1245px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: .7rem;
      padding-left: .7rem;
  }
}

@media (max-width: 1199px) {
  .container {
      max-width: 1245px;
  }
  .features-meta {
      padding: 20px 10px;
  }
  .doctor-header-thumb img {
    width: 120px;
    height: 120px; 
  }
  .clinic-table .table-td:nth-child(1) {
    width: 12%;
  }
  .clinic-table .table-td:nth-child(2), 
  .clinic-table .table-td:nth-child(3) {
    width: 30%;
  }
  .affiliated-clinic .table-td:nth-child(1) {
    width: 72%;
  }
  .online {
    left: 10px;
  }
}

@media (max-width: 1024px) {
  .stethoscope { 
    right: 20%; 
  }
  .about-meta {
    padding-left: 0;
  }
  .testimonials .slick-prev {
    left: -18px;
  }
  .testimonials .slick-next {
    right: -18px;
  }
  .footer-links.contact-links img {
    display: none;
  }
  .doctor-header-meta {
    padding: 15px;
  }

  .doctor-appoinment-outer {
    display: none;
  }
  .doctor-header-meta.search-doctor-header,
  .doctor-appoinment-mobile {
    display: block!important;
  }
  .doctor-appoinment-mobile {
    margin-top: 15px; 
  }
  .doctor-appoinment-mobile .doctor-appoinment-list {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
  }
  .doctor-appoinment-list li {
    width: auto;
  }
  .doctor-appoinment-list li a {
    width: 70px;
  }
}
@media (max-width: 991px) {
  .container {
      max-width: 100%;
  }
  .navbar-nav {
    border-top: rgba(0,0,0,.1) 1px solid;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .auth-sighup, .auth-sighin {
    width: 120px;
  }
  .auth-sighup {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nav-item.mr-2 {
    margin-right: 0!important;
  }
  .logedin {
    position: absolute;
      top: 13px;
      right: 95px;
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
  }
  .logedin .dropdown-menu {
    position: absolute;
    top: 67px;
  }
  .hero {
    padding: 40px 0 0;
  }
  .hero .row {
    justify-content: center!important;
  }
  .stethoscope {
    right: initial;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%); 
  }
  .outer-circle {
    margin: 0 auto;
  }
  .slick-dots {
    bottom: -50px;
  }
  .top-rated-doctors .slick-dots li button:before,
  .our-partners .slick-dots li button:before {
    color: var(--color-dark);
  }
  .top-rated-doctors .slick-dots li.slick-active button:before,
  .our-partners .slick-dots li.slick-active button:before {
    color: var(--color-primary);
  }
  .doctor-header-thumb {
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  .doctor-header-info {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
  }
  .doctor-header-right {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: 15px;
    border-top: var(--input-border) 1px solid;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .doctor-status {
    margin-top: 0;
    margin-left: 20px;
  }
  .left-nav {
    font-size: 14px;
  }
  .left-nav a {
    padding-left: 30px;
  }
  .clinic-info-left {
    padding-right: 30px;
  }
  .clinic-table .table-td:nth-child(1) {
    width: 17%;
  }
  .clinic-table .table-td:nth-child(2), .clinic-table .table-td:nth-child(3) {
    width: 28%;
  }
  .clinic-table .table-td:nth-child(2) {
    padding-right: 5px;
    padding-left: 5px;
  }
  .clinic-table .table-td:nth-child(3) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .clinic-table .table-td:nth-child(4) {
    padding-left: 5px;
    padding-right: 10px;
  }
  .affiliated-clinic .table-td:nth-child(1) {
    width: 72%;
  }
  .clinic-info {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .section-padd {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .app-des {
    margin-bottom: 40px;
  }
  .about-meta {
    padding-top: 40px;
  }
  .about-meta,
  .about-meta h2 {
    text-align: center!important;
  }
  .about-meta .read-more {
    margin: 0 auto;
  }
  .doc-card {
    padding: 15px 15px;
  }
  .top-rated-doctors-name {
    font-size: 16px;
  }
  .top-rated-doctors-deg {
    font-size: 12px;
  }
  .all-features li {
    width: 33.33333%;
    margin-top: 20px;
  }
  .top-rated-doctors.section-padd,
  .testimonials.section-padd,
  .our-partners.section-padd {
    padding-bottom: 60px;
  }
  .features .app-des {
    margin-bottom: 20px;
  }
  .download-app .app-des, .our-partners .app-des {
    margin-bottom: 40px;
  }
  .slick-slide {
    margin: 0 10px;
  }
  .slick-list {
      margin: 0 -10px;
  }
  .footer .col {
    -ms-flex-preferred-size: 1;
    flex-basis: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    max-width: 33.33333%;
  }
  .footer .col.col4,
  .footer .col.col5 {
    margin-top: 30px;
  }
  .footer .container {
    padding-bottom: 40px;
  }
  .doctor-header-thumb {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .doctor-header-info {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; 
  }
  .doctor-header-contact {
    margin-top: 20px;
  }
  .left-nav {
    font-size: 0;
    margin-bottom: 30px;
    margin-left: -2px;
    margin-right: -2px;
    text-align: center;
  }
  .left-nav li {
    width: 33.33333%;
    text-align: center;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .left-nav li a {
    background-color: var(--color-white);
    border-radius: 3px;
    padding-left: 0;
  }
  .search-results-title {
    display: none;
  }
  .doctor-header-meta.search-doctor-header {
    margin-bottom: 20px;
  }
  .search-calander {
    justify-content: space-between;
    width: 100%;
  }
  .search-filter-meta {
    justify-content: center;
    flex-wrap: wrap;
  }
  .filter-title {
    display: none;
  }
  .search-filter-meta .form-group {
    width: 33.33333%;
  }
  .mobile-mrgn {
    margin-top: 15px;
  }
  .sidebar-content {
    margin-bottom: 50px;
  }

}
@media (max-width: 576px) {
  .navbar-brand img {
      max-width: 100px; 
  }
  .logedin {
    top: 7px;
  }
  .logedin .dropdown-menu { 
      top: 62px;
  }
  .logedin span.ml-1 {
    display: none;
  }
  .hero-form .custom-input {
    width: 100%;
  }
  .hero-form .custom-input.ml-3 {
    margin-left: 0!important;
    margin-top: 20px;
  }
  .hero-form .mb-xs {
    margin-bottom: 25px;
  }
  .custom-input.col-sm-3 {
    margin-bottom: 20px;
  }
  .custom-input.col-sm-5 {
    margin-bottom: 20px;
  }
  .stethoscope img {
    max-width: 75%;
    margin: 0 auto;
  }
  .doc-card {
    padding-top: 20px;
  }
  .all-features li {
    width: 50%;
  }
  iframe {
    height: 225px;
  }
  .footer-title:after {
    width: 100%;
  }
  .footer .col {
    max-width: 50%;
    text-align: center;
  }
  .footer .col.col3 {
    margin-top: 30px;
  }
  .footer .col.col5 {
    max-width: 100%;
  }
  .footer-download-app {
    align-items: center!important;
    flex-direction: row!important;
    justify-content: center;
  }
  .footer-download-app li:first-child { 
    margin-bottom: 0;
    margin-right: 10px;
  }
  .footer-download-app li:last-child {  
    margin-left: 10px;
  }
  .outer-circle {
    width: 275px;
    height: 275px;
  }
  .inner-circle {
    width: 225px;
    height: 225px;
  }
  .small-circle {
    width: 75px;
    height: 75px;
  }
  .small-circle img {
    max-width: 60%;
    margin: 12px auto 0;
  }
  .our-partners.section-padd {
    padding-bottom: 100px;
  }
  /*.chatbot {
    left: 50%;
    transform: translateX(-50%);
  }*/
  .footer {
    padding-top: 80px;
  }
  .doctor-header-meta {
    display: block;
  }
  .doctor-header-thumb {
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    max-width: 120px;
    margin: 0 auto;
  }
  .doctor-header-info {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    text-align: center;
    margin-top: 15px;
  }
  .doctor-header-contact,
  .doctor-header-right {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }
  .clinic-info-header ,
  .clinic-info-left.second-header .form-group {
    display: block!important;
  }
  .second-header .select2-container {
    width: 100%!important;
  }
  .clinic-info-left {
    padding-right: 0;
  }
  .add-btn,
  .edit-btn {
    margin-left: 0;
    width: 100%;
    margin-top: 15px;
  }
  .affiliated-clinic .table-td:nth-child(1) {
    width: 55%;
  }
  .clinic-info-left p {
    line-height: 20px;
  }
  .responsive-table {
    width: 500px;
  }
  .affiliated-responsive-table {
    width: 400px;
  }
  .doctor-header {
    padding-bottom: 15px;
  }
  .doctor-header-right {
    display: block;
    padding-top: 0;
  }
  .doctor-status span {
    padding-top: 15px;
    margin-left: 0;
    display: inline-block;
  }
  .left-nav {
    margin-bottom: 15px;
  }
  .left-nav li {
    width: 50%;
    font-size: 12px;
  }
  .left-nav .profile a:before, .left-nav .calander a:before, .left-nav .hospital a:before, .left-nav .notify a:before, .left-nav .messaging a:before, .left-nav .gallery a:before, .left-nav .reports a:before {
    left: -8px;
    top: 3px;
  }
  .search-doctor-outer .doctor-header-thumb {
    margin: initial;
  }
  .search-doctor-outer .doctor-header-info {
    text-align: left;
  }
  .search-filter-meta .form-group {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px!important;
  }
  .search-filter-meta .form-group:first-of-type {
    padding-left: 5px;
  } 
  .search-filter-meta .form-group:last-of-type {
    padding-right: 5px;
    margin-bottom: 0!important
  }
  .mobile-mrgn,
  .xs-mrgn {
    margin-top: 0;
  }
  .search-calander-list li a {
    width: 55px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .search-calander-list li .calander-day {
    font-size: 12px;
  }
  .register-tabs {
    flex-direction: column;
  }
  .register-content .col-md-3 {
    order: -1;
    margin-bottom: 20px;
  }
}