:root {
  --app-bg: #f7f7f7;
  --app-text-color: #282828;
  --color-primary: #5e0191;
  --color-primary-hover: #47006e;
  --color-secondary: #9f1f63;
  --color-secondary-hover: #7f0f4a;
  --color-white: #ffffff;
  --gradient: linear-gradient( 90deg, rgb(95,1,145) 0%, rgb(159,31,99) 100%);
  --color-dark: #4c4c4c;
  --color-green: #50d681;
  --input-border: #e5e5e5;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
button:focus, a:focus, input:focus { outline: none!important; box-shadow: none!important; }
a, a:hover, svg path{ text-decoration: none; -webkit-transition: all ease-in-out .3s; -moz-transition: all ease-in-out .3s; transition: all ease-in-out .3s; }
img { display: block; object-fit: cover; }
iframe {
	width: 100%;
}

body { 
	font-family: 'Poppins', sans-serif!important; 
	background-color: var(--app-bg); 
	color: var(--app-text-color);
	overflow-x: hidden;
}
a { 
	/*color: #383838; */
}
a:hover { 
	/*color: #3f849d; */
}

/*========= APP CSS ========*/
.navbar {
	padding-top: .7rem;
	padding-bottom: .7rem;
}
.navbar-brand img {
	max-width: 137px;
	width: 100%;
}
.navbar-light .navbar-nav .nav-link {
	color: #4c4c4c;
}
.navbar-light .navbar-nav .active>.nav-link {
	color: var(--color-primary);
	font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: var(--color-primary);
}
.auth-sighup,
.auth-sighin {
	color: var(--color-white)!important;
	width: 95px;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
.auth-sighup {
	background-color: var(--color-primary);
}
.auth-sighin {
	background-color: var(--color-secondary);
}
.hero {
	background-image: var(--gradient);
}
.hidden {
	display: none;
}
.logedin img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
}
.logedin span {
	position: relative;
	top: 2px; 
}
.logedin .dropdown-toggle::after {
	transform: rotate(135deg);
	display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: none;
    margin-top: 2px;
}
.logedin .dropdown-toggle::after {
	position: relative;
	top: 1px;
}
.logedin .dropdown-menu {
	top: 69px;
	left: initial;
	right: 0;
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}
.logedin .dropdown-menu .dropdown-item {
	padding: 0;
}
.g-animation {
  position: relative;
}
.g-animation:hover {
  background-color: transparent;
}
.g-animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: .3rem;
  height: 100%;
  background-image: var(--gradient);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.g-animation:hover:before {
  transform: scaleY(1);
  width: 100%;
}
.g-animation--link {
  position: relative;
  z-index: 1;
  top: 0!important;
  color: #2d3033;
  transition: color .2s;
  display: block;
  padding: .8rem 1rem;
}
.g-animation--link:hover {
  color: #fff;
  transition-delay: .2s;
}
.hero-form {
	padding: 40px 30px;
}
.custom-input {
	padding-left: 15px;
}
@keyframes hover-color {
	from {
		border-color: var(--color-primary); 
	}
	to {
		border-color: var(--color-primary);
	}
}
.g-radio,
.g-checkbox {
	position: absolute;
	display: none; 
}
.g-radio[disabled],
.g-checkbox[disabled] {
 	cursor: not-allowed; 
}
.g-radio + label,
.g-checkbox + label {
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
	vertical-align: middle;
	padding-top: 3px;
	font-size: 14px;
}
.g-radio + label:hover:before,
.g-checkbox + label:hover:before {
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: hover-color; 
}
.g-radio + label:before,
.g-checkbox + label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '';
	border: 2px solid var(--color-dark);
}
.g-radio + label:after,
.g-checkbox + label:after {
	position: absolute;
	display: none;
	content: '';
}
.g-radio[disabled] + label,
.g-checkbox[disabled] + label {
	cursor: not-allowed;
	color: #e4e4e4; 
}
.g-radio[disabled] + label:hover, 
.g-radio[disabled] + label:before, 
.g-radio[disabled] + label:after,
.g-checkbox[disabled] + label:hover,
.g-checkbox[disabled] + label:before,
.g-checkbox[disabled] + label:after {
	cursor: not-allowed; 
}
.g-radio[disabled] + label:hover:before,
.g-checkbox[disabled] + label:hover:before {
	border: 2px solid #e4e4e4;
	animation-name: none; 
}
.g-radio[disabled] + label:before,
.g-checkbox[disabled] + label:before {
	border-color: #e4e4e4;
}
.g-radio:checked + label:before,
.g-checkbox:checked + label:before {
	animation-name: none; 
}
.g-radio:checked + label:after,
.g-checkbox:checked + label:after {
	display: block; 
}
.g-radio + label:before {
	border-radius: 50%; 
}
.g-radio + label:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--color-primary);
}
.g-radio:checked + label:before {
	border: 2px solid var(--color-primary); 
}
.g-radio:checked[disabled] + label:before {
	border: 2px solid #c9e2f9;
}
.g-radio:checked[disabled] + label:after {
	background: #c9e2f9;
}
.g-checkbox + label:before {
	border-radius: 3px;
}
.g-checkbox + label:after {
	top: 2px;
	left: 7px;
	box-sizing: border-box;
	width: 6px;
	height: 12px;
	transform: rotate(45deg);
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	border-top: 0;
	border-left: 0;
}
.g-checkbox:checked + label:before {
	border: var(--color-primary);
	background: var(--color-primary);
}
.g-checkbox:checked[disabled] + label:before {
	border: #c9e2f9;
	background: #c9e2f9; 
}
.checkbox-row {
	padding-right: 5px;
}
.checkbox-row img {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.checkbox-row span {
	position: relative;
	top: 2px;
	left: 5px;
}
.checkbox-row a {
	color: var(--color-primary);
}
.outer-circle {
	position: relative;
	height: 406px;
	width: 406px;
	border: rgba(255,255,255,.58) 2px dashed;
	border-radius: 50%;
	-webkit-animation: rotateGroup 35s linear infinite;
	animation: rotateGroup 35s linear infinite;
}
.outer-circle:hover { 
	border: rgba(255,255,255,.58) 2px solid;
}
.inner-circle {
  position: absolute;
  height: 327px;
  width: 327px;
  border: rgba(255,255,255,.30) 2px dashed;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: antirotateGroup 25s linear infinite;
  animation: antirotateGroup 25s linear infinite;
}
.inner-circle:hover {
	border: rgba(255,255,255,.30) 2px solid;
}
.small-circle {
	position: absolute;
	height: 108px;
	width: 108px;
	line-height: 108px; 
	border-radius: 50%; 
	border: var(--color-secondary) 2px dashed;
	background-color: var(--color-primary);
}
.small-circle img {
	max-width: 100%;
	margin: 19px auto 0;
}
.small-circle.brain {
  position: absolute;
  left: 38%;
  top: -32px;
  transform: translateX(-50%);
  -webkit-animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
  animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
}
.small-circle.kidny {
  position: absolute;
  left: -32px;
  top: 35%;
  transform: translateY(-50%);
  -webkit-animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
  animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
}
.small-circle.kidny img { 
	margin: 14px auto 0;
}
.small-circle.heart {
  position: absolute;
  left: 38%;
  bottom: -32px;
  top: initial;
  transform: translateX(-50%);
  -webkit-animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
  animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
}
.small-circle.heart img { 
	margin: 24px auto 0;
}
.small-circle.teath {
  position: absolute;
  right: -32px;
  top: 35%;
  left: initial;
  transform: translateY(-50%);
  -webkit-animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
  animation: antirotateGroup 35s linear infinite, 
  color-me-in 5s infinite;
}
.stethoscope {
	position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%); 
}
.stethoscope img {
	max-width: 85%;
}
@keyframes color-me-in {
	0% {
		background: var(--color-primary);
	}
	25% {
		background: #48056d;
	}
	50% {
		background: #670464;
	}
	75% {
		background: #ba2d9b;
	}
	100% {
		background: #c55fff;
	}
}
@-webkit-keyframes color-me-in {
	0% {
		background: var(--color-primary);
	}
	25% {
		background: #48056d;
	}
	50% {
		background: #670464;
	}
	75% {
		background: #ba2d9b;
	}
	100% {
		background: #c55fff;
	}
}
@-webkit-keyframes rotateGroup {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotateGroup {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes antirotateGroup {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@keyframes antirotateGroup {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
.app-title {
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-dark);
}
.line,
.line-white {
	position: relative;
	padding-bottom: 25px;
}
.line:after,
.line-white:after {
	content: '';
	background: url('../images/line.png') no-repeat bottom center;
	width: 87px;
	height: 10px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.line-white:after {
	background: url('../images/line-white.png') no-repeat bottom center;
}
.about-meta {
	padding-left: 70px;
}
.about-meta p {
	line-height: 25px;
}
.read-more {
	text-align: center;
	display: block;
	width: 195px;
}
.read-more img {
	display: inline-block;
	margin-left: 6px;
	position: relative;
    top: -1px;
}
.doc-card {
	padding: 30px;
}
.top-rated-doctors-thumb img {
	width: 137px;
	height: 137px;
	border-radius: 100%;
	margin: 0 auto;
	object-position: 0 0;
	border: 1px solid var(--color-secondary);
}
.app-des {
	max-width: 540px;
	color: rgba(76,76,76, .8);
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 80px;
}
.top-rated-doctors-name {
	margin-top: 23px;
	margin-bottom: 5px;
}
.top-rated-doctors-name a {
	color: var(--color-dark);
}
.top-rated-doctors-name a:hover {
	color: var(--color-primary);
}
.rating-text {
	margin-right: 10px;
}
.gray-star,
.gray-star.active {
	width: 12px;
	height: 12px;
	display: inline-block;
}
.gray-star {
	background: url('../images/gray-star.png') no-repeat center center;
}
.gray-star.active {
	background: url('../images/active-star.png') no-repeat center center;
}
.testimonials {
	background-image: var(--gradient);
}
.testimonials.section-padd {
	padding-bottom: 117px;
}
.testimonial-meta {
	position: relative;
	padding: 40px 30px;
}
.testimonial-meta:after {
	content: '';
	width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 14px solid #fff;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-icon img {
	width: 43px;
	height: 36px;
	margin: 0 auto;
}
.quote-des {
	line-height: 25px;
	margin-top: 30px;
}
.client-name {
	margin-top: 30px;
	margin-bottom: 8px;
}
.client-thumb img {
	width: 75px;
	height: 75px;
	border-radius: 100%;
	border: #9448a5 2px solid;
	margin: 35px auto 0;
}
.client-thumb.top-thumb img {
	margin-top: 0;
	margin-bottom: 30px;
}
.testimonial-meta.top-meta:after {
	bottom: initial;
	top: -14px;
	width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 14px solid #fff;
    border-top: none;
}
.testimonials .slick-prev {
    left: -50px;
}
.testimonials .slick-next {
    right: -50px;
}
.all-features {
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
}
.all-features li {
	width: 16.666667%;
	padding-left: 10px;
	padding-right: 10px;
}
.features-meta {
	padding: 30px 20px;
	background-color: #fff;
}
.features-icon img {
	width: 76px;
	height: 77px;
	margin: 0 auto
}
.feature-title {
	margin-top: 28px;
}
.download-app .app-des,
.our-partners .app-des {
	margin-bottom: 60px;
}
.download-app-btns img {
	max-width: 100%;
}
.download-app-btns li:first-child {
	margin-right: 10px;
}
.download-app-btns li:last-child {
	margin-left: 10px;
}
.download-app-phone img {
	max-width: 100%;
	margin: 55px auto 0;
}
.our-partners-meta {
	height: 75px;
	padding: 20px;
}
.our-partners-meta img {
	max-width: 122px;
	width: 100%;
	margin: 0 auto
}
.footer {
	position: relative;
	background-image: var(--gradient);
}
.footer-title {
	position: relative;
}
.footer-title:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -15px;
	background-color: rgba(255,255,255,.2);
	width: 85%;
	height: 1px;
}
.footer-links {
	margin-top: 40px;
}
.footer-links a {
	color: var(--color-white);
	margin-top: 15px;
	display: block;
	font-size: 14px;
	font-weight: 300;
}
.contact-links img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.footer-download-app img {
	width: 128px;
}
.footer-download-app li:first-child {
	margin-right: 0;
	margin-bottom: 15px;
}
.footer-download-app li:last-child {
	margin-left: 0;
}
.copyright {
	padding: 25px;
	border-top: rgba(255,255,255,.2) 1px solid;
}
.footer .container {
	padding-bottom: 80px;
}
.chatbot {
	position: fixed;
	bottom: 25px;
	right: 25px;
	background-color: var(--color-white);
	width: 84px;
	height: 84px;
	border-radius: 100%;
	border: var(--color-secondary) 2px solid;
	z-index: 10;
}
.chatbot a {
	padding: 8px ;
}
.chatbot img {
	max-width: 100%;
	margin: 0 auto;
}
.chat-close {
	transition: all .15s linear;
	transform: scale(0);
}
.chat-close a {
	padding: 21px 0;
}
.chat-window {
	transform: scale(0);
	position: fixed;
	bottom: 130px;
	right: 25px;
	z-index: 11;
	max-width: 440px;
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: rgba(0,0,0,.2) 0 5px 65px;
    box-shadow: 0 5px 65px rgba(0,0,0,.2);
    transition: all .15s linear;
}
.toggle-transform {
	transform: scale(1);
}
.chat-header {
	position: relative;
	padding: 20px 20px 90px 20px;
}
.chat-des {
	line-height: 20px;
}
.chat-user-thumb {
	position: absolute;
	bottom: -30px;
	left: 20px;
	margin-top: 30px;
}
.chat-user-thumb img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
.chat-body {
	padding: 60px 20px 20px 20px;
}
.chat-options li:not(:first-child) {
	margin-top: 20px;
}
.chat-options li a {
	color: var(--color-dark);
}
.chat-options li a:hover span {
	color: var(--color-primary);
}
.chat-options li a:hover .chat-options-icon {
	background-color: var(--color-primary);
}
.chat-options-icon {
	flex-basis: 45px;
	flex-grow: 0;
    flex-shrink: 0;
	height: 45px;
	border-radius: 50px;
	background-color: var(--color-secondary);
	margin-right: 15px;
}
.chat-options-icon img {
	max-width: 100%;
	margin: 11px auto 0;
}
.chat-options-meta span {
	display: block;
}
.chat-message-box {
	position: relative;
	padding-right: 60px;
	background-color: var(--input-border);
}
.chat-message-box .form-control {
	border-radius: 0;
	resize: none;
	border: none;
	background-color: var(--input-border);
	padding: 15px;
	font-size: 16px;
	font-family: inherit;
}
.chat-message-box .form-control:focus {
	box-shadow: none;
	border: none;
}
.send-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.send-btn a {
	display: block;
	padding: 15px 11px;
}

/* HOSPITAL PAGE CSS */
.tb-mrgn {
	padding: 30px 0;
}
.doctor-header-meta {
	padding: 30px;
}
.doctor-header-thumb {
	position: relative;
	-ms-flex: 0 0 13%;
    flex: 0 0 13%;
    max-width: 13%;
}
.doctor-header-thumb img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: var(--input-border) 1px solid;
}
.online {
	position: absolute;
	top: 10px;
    left: 20px;
	background-color: var(--color-green);
	width: 14px;
	height: 14px;
	border: var(--color-white) 2px solid;
	border-radius: 100%;
}
.doctor-header-info {
	padding-left: 30px;
	-ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.doctor-header-info h2 {
	margin-top: 5px;
	margin-bottom: 10px;
}
.doctor-header-info h4 {
	margin-top: 12px;
	margin-bottom: 15px;
}
.doctor-header-info p {
	line-height: 22px;
}
.doctor-header-contact {
	-ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.doctor-contact {
	margin-bottom: 15px;
}
.doctor-contact img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.doctor-fee {
	margin-top: 18px;
}
.edit-btn {
	width: 95px;
}
.edit-btn img {
	position: relative;
	top: 2px;
}
.doctor-status {
	margin-top: 20px;
}
.doctor-status img {
	display: inline-block;
	vertical-align: middle;
}
.doctor-status span {
	position: relative;
	top: 1px;
	margin-left: 5px;
}
.left-nav a {
	position: relative;
	color: var(--color-dark);
	background-color: var(--app-bg);
	display: block;
	height: 50px;
	line-height: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-left: 45px;
}
.left-nav li {
	position: relative;
}
.left-nav .profile a:before,
.left-nav .calander a:before,
.left-nav .hospital a:before,
.left-nav .notify a:before,
.left-nav .messaging a:before,
.left-nav .gallery a:before,
.left-nav .reports a:before {
	content: '';
	display: inline-block;
	position: relative;
	left: -15px;
}
.left-nav .profile a:before {
	background: url('../images/profile.png') 0 0;
	width: 16px;
	height: 18px;
	top: 2px;
}
.left-nav .calander a:before {
	background: url('../images/calander.png') 0 0;
	width: 17px;
	height: 16px;
	top: 1px;
}
.left-nav .hospital a:before {
	background: url('../images/hospital.png') 0 0;
	width: 17px;
	height: 16px;
	top: 1px;
}
.left-nav .notify a:before {
	background: url('../images/notification.png') 0 0;
	width: 17px;
	height: 17px;
	top: 2px;
}
.left-nav .messaging a:before {
	background: url('../images/messaging.png') 0 0;
	width: 17px;
	height: 13px;
	top: 0;
}
.left-nav .gallery a:before {
	background: url('../images/gallery.png') 0 0;
	width: 17px;
	height: 15px;
	top: 0;
}
.left-nav .reports a:before {
	background: url('../images/reports.png') 0 0;
	width: 17px;
	height: 17px;
	top: 0;
}
.left-nav li.active a {
	background-image: var(--gradient);
	color: var(--color-white);
}
.left-nav li.active a:before {
	-webkit-filter: brightness(0) invert(1);
  	filter: brightness(0) invert(1);
}
.clinic-info {
	padding: 30px;
}
.clinic-info-header {
	border-bottom: var(--input-border) 1px solid;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.clinic-info-left p {
	margin-top: 15px;
}
.clinic-info-left span {
	margin-right: 5px;
}
.clinic-table .table-thead {
	background-color: var(--color-primary);
	color: var(--color-white);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.clinic-table .table-tr {
	display: table;
	width: 100%;
}
.clinic-table .table-thead .table-td {
	padding: 18px 20px;
}
.clinic-table .table-td {
	display: table-cell;
	vertical-align: middle;
}
.clinic-table .table-tbody {
	border: var(--input-border) 1px solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.clinic-table .table-tbody .table-tr:nth-child(odd) {
	background-color: var(--app-bg);
}
.clinic-table .table-tbody .table-td {
	padding: 9px 20px;
}
.clinic-table .table-tbody .form-control {
	height: 36px;
}
.clinic-table .table-td:nth-child(1) {
	width: 15%;
}
.clinic-table .table-td:nth-child(2),
.clinic-table .table-td:nth-child(3) {
	width: 32%;
}
.clinic-table .table-td:nth-child(2) {
	padding-right: 10px;
}
.clinic-table .table-td:nth-child(3) {
	padding-left: 10px;
}
.table-action {
	font-size: 0;
	display: table;
	width: 100%;
	table-layout: fixed;
}
.table-action li {
	display: table-cell;
	vertical-align: middle;
	margin-right: 10px;
}
.table-action a {
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: var(--color-white);
	border: var(--input-border) 1px solid;
	border-radius: 3px;
	padding: 8px 0;
	display: block;
}
.table-action li:last-of-type {
	margin-right: 0;
}
.table-action img {
	max-width: 100%;
	margin: 0 auto;
}
.table-action a:hover {
	background-color: var(--color-primary);
	border: var(--color-primary) 1px solid;
}
.table-action a:hover img {
	-webkit-filter: brightness(0) invert(1);
  	filter: brightness(0) invert(1);
}
.save-btn {
	width: 120px;
}
.header-top {
	border-top: var(--input-border) 1px solid;
	border-bottom: none;
	padding-top: 30px;
	margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 30px;
} 
.second-header span {
	margin-right: 0;
}
.second-header .select2-container {
	width: 300px;
}
.add-btn {
	width: 92px;
	height: 49px!important;
	line-height: 49px!important;
	margin-left: 20px;
}
.affiliated-clinic .table-td:nth-child(1) {
	width: 78%;
}
.affiliated-clinic .table-td:nth-child(2) {
	width: 22%;
}
.search-map img {
	width: 100%;
	height: 300px;
}
.map-fixed {
    position: fixed;
    top:0; 
    left:0;
    width: 100%;
    z-index: 10;
}
.search-filter {
	padding: 20px 0;
	background-image: var(--gradient);
}
.filter-title {
	width: 10%;
}
.search-filter-meta .form-group {
	width: 18%;
	padding-left: 5px;
	padding-right: 5px;
}
.search-filter-meta .form-group:first-of-type {
	padding-left: 0;
}
.search-filter-meta .form-group:last-of-type {
	padding-right: 0;
}
.search-calander {
	width: 409px;
}
.prev-calander {
	padding-right: 10px;
}
.next-calander {
	padding-left: 10px;
}
.search-calander-list li {
	text-align: center;
	text-transform: uppercase;
	padding-left: 2px;
	padding-right: 2px;
}
.search-calander-list li a {
	background-color: #e5e5e5;
	border-radius: 3px;
	display: block;
	width: 69px;
	height: 63px;
	padding: 16px 10px;
}
.search-calander-list li .calander-month {
	font-size: 14px;
	font-weight: 500;
	color: var(--color-secondary);
}
.search-calander-list li .calander-day {
	font-size: 13px;
	font-weight: 500;
	color: var(--color-dark);
	margin-top: 5px;
}
.search-calander-list li.active a {
	background-color: var(--color-secondary);
}
.search-calander-list li.active .calander-month,
.search-calander-list li.active .calander-day {
	color: var(--color-white);
}
.search-doctor-header {
	padding: 20px;
}
.search-doctor-outer {
	flex: 1 0 0;
}
.doctor-header-meta.search-doctor-header:nth-child(even) {
	background-color: var(--color-white);
}
.search-doctor-header .doctor-header-thumb,
.search-doctor-header .doctor-header-info {
	-ms-flex: initial;
    flex: initial;
    max-width: initial;
}
.search-doctor-header .doctor-header-thumb .online {
	top: 7px;
    left: 9px;
}
.search-doctor-header .doctor-header-thumb {
	padding-right: 20px;
}
.search-doctor-header .doctor-header-thumb img {
	width: 100px;
	height: 100px;
}
.search-doctor-header .doctor-header-info {
	padding-left: 0; 
    padding-right: 20px;
}
.search-doctor-header .doctor-header-info h4 {
	margin-top: 10px;
}
.doctor-appoinment-list {
	width: 365px;
}
.doctor-appoinment-list li {
	position: relative;
	width: 20%;
	height: 32px;
	line-height: 32px;
	color: #a5a5ad;
	display: block;
	text-align: center;
	margin: 2px;
	text-transform: uppercase;
}
.doctor-appoinment-list li a {
	background-color: var(--color-secondary);
	color: var(--color-white);
	display: block;
	border-radius: 2px;
}
.appoinment-info {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px;
	cursor: pointer;
	z-index: 9;
}
.extra-info {
	background-color: var(--color-white);
	border: var(--input-border) 1px solid;
	border-radius: 3px;
	padding: 20px;
	display: none;
	width: 275px;
	text-align: left;
}
.doctor-appoinment-list li .appoinment-info:hover .extra-info {
	display: block;
}
.sidebar-doc-info {
	border: #ededed 1px solid;
	overflow: hidden;
}
.sidebar-doc-info-inner {
	padding: 20px;
}
.sidebar-doc-info-thumb {
	position: relative;
	width: 75px;
	margin: 0 auto;
}
.sidebar-doc-info-thumb img {
	width: 75px;
	height: 75px;
	border-radius: 50px; 
}
.sidebar-doc-info-thumb .online {
	left: -1px;
}
.sidebar-doc-info-title a {
	color: var(--color-dark);
}
.sidebar-doc-info-title a:hover {
	color: var(--color-primary);
}
.sidebar-doc-info-address {
	background-color: #ededed;
	padding: 15px 20px;
	line-height: 20px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.sidebar-doc-info-address span {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 28px;
}
.sidebar-doc-info.offers {
	color: var(--color-white);
}
.sidebar-doc-info .rating-text {
	color: var(--color-dark);
}
.doctor-appoinment-mobile {
    display: none;
}

/* REGISTRATION */
.register-tabs {
	background-image: var(--gradient);
	/*background-color: var(--color-white);*/
	/*border: var(--input-border) 1px solid;*/
	border-radius: 5px;
	padding-left: 1px;
	padding-right: 1px;
}
.register-tabs .nav-link {
	position: relative;
	padding: 20px 15px 22px;
	/*color: var(--color-dark);*/
	color: var(--color-white);
	font-size: 14px;
	text-transform: uppercase;
}
.register-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
	border: none;
}
.nav-tabs .nav-link.active {
	/*background-color: var(--app-bg);*/
	background-color: transparent;
	border-radius: 0;
	color: var(--color-white);
	/*color: var(--color-primary);*/
}
.nav-tabs .nav-link.active:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 2px;
	background-color: var(--color-white);
}
.register-content {
	padding: 30px 0 0;
}
textarea.address-clinic {
	height: 150px;
	resize: none;
}
.register-content .read-more {
	cursor: pointer;
}
.form-img {
	position: relative;
}
.form-img img {
	width: 100%;
	border-radius: 3px;
	display: block;
	border: var(--input-border) 1px solid;
	transition: all .3s;
}
.form-img img:hover {
	border: var(--color-primary) 1px solid;
}
.edit-img {
	position: absolute;
	bottom: 1px;
	right: 1px;
	width: 35px;
	height: 35px;
	padding: 10px;
	box-sizing: border-box;
	background-color: var(--color-white);
}
.edit-img img {
	width: 18px;
	height: 18px;
	border: none;
	margin: 0 auto;
}
.edit-img img:hover {
	border: none;
}

/* FORUM CSS */
.forum-block {
	border-radius: 3px;
	box-shadow: 0 2px 8px 0 rgba(50,50,50,.08);
	margin-bottom: 20px;
}
.forum-block:last-child {
	margin-bottom: 5px;
}
.forum-block-img img {
	width: 50px;
	height: 50px;
	border: rgba(0,0,0,.05) 1px solid;
}
.forum-block-leftbar {
	padding: 20px;
}
.forum-block-leftbar-btns a { 
	font-size: 14px;
	font-weight: 400;
	width: 20px;
	height: 20px;
	border-radius: 3px;
}
.forum-block-leftbar-btns a:not(:first-child) {
	margin-left: 5px;
}
.forum-block-leftbar-btns img {
	max-width: 70%;
	margin: 3px auto 0px;
}
.btn-delete {
	background-color: var(--color-primary);
}
.btn-delete img {
	max-width: 58%;
}
.forum-block-middlebar {
	padding: 20px;
	padding-left: 0;
}
.forum-block-middlebar-title a {
	color: var(--color-dark);
}
.forum-block-middlebar-title a:hover {
	color: var(--color-primary);
}
.forum-block-middlebar p,
.detail-comment-dec {
	line-height: 20px;
}
.forum-block-comments {
	background-color: #bfc2c6;
	color: var(--color-dark);
}
.forum-block-comments {
	position: relative;
	width: 50px;
	height: 30px;
	line-height: 31px;
	border-radius: 3px;
	color: var(--color-white);
	margin: 0 auto 15px;
}
.forum-block-comments:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -8px;
	transform: translateX(-50%);
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #bfc2c6;
}
.forum-block-rightbar {
	-ms-flex: 0 0 10%;
    flex: 0 0 12%;
    max-width: 12%;
    border-left: rgba(0,0,0,.1) 1px solid;
    padding: 10px 0 0 0;
}
.forum-block-comments-views,
.forum-block-comments-time {
	
	padding: 9px 0 7px;
	opacity: .6;
}

.forum-block-comments-time {
	padding-top: 12px;
	padding-bottom: 12px;
}
.forum-block-comments-views img,
.forum-block-comments-time img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	opacity: .6;
}
.forum-block-comments-time img {
	max-width: 11px;
    position: relative;
    top: -2px;
}
.forum-sidebar {
	box-shadow: 0 2px 8px 0 rgba(50,50,50,.08);
	border-radius: 3px;
	padding: 20px;
}
.popular-forums-list {
	margin-top: 20px;
}
.popular-forums-list li {
	margin-top: 15px;
}
.popular-forums-list li a {
	color: var(--color-dark);
}
.popular-forums-list li a:hover {
	color: var(--color-primary);
}
.add-forum h1 {
	border-bottom: rgba(0,0,0,.1) 1px solid;
}
.add-forum-post textarea.form-control {
	height: 300px;
	resize: none;
	padding-top: 10px
}
.upload-file {
	position: relative;
	overflow: hidden;
	display: block;
}
.upload-file .btn {  
	background-color: white;
	padding: 8px 67px;
	border-radius: 3px;
	font-size: 14px;
	text-align: left;
	color: #798189;
}
.upload-file input[type=file] { 
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}
.forum-detail .forum-block-rightbar {
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border-left: none;
    padding: 0;
}
.forum-detail .forum-block-comments-views, 
.forum-detail .forum-block-comments-time {
	padding: 0;
	border-top: none;
}
.forum-block-username a,
.detail-comment-user a {
	color: var(--color-primary);
}
.forum-detail-comments li {
	border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(50,50,50,.08);
    padding: 20px;
    margin-bottom: 20px;
}
.forum-detail-comments li:last-child {
	margin-bottom: 0;
}
.detail-comments-img img {
	width: 40px;
	height: 40px;
	border: rgba(0,0,0,.05) 1px solid;
}
.detail-comment-dec {
	border-bottom: rgba(0,0,0,.05) 1px solid;
}
.detail-comment-attachment img {
	width: 85px;
	height: 85px;
}
.forum-detail .add-forum-post textarea.form-control {
	height: 150px;
}


@media (max-width: 767px) {
	.forum-sidebar {
		margin-top: 15px;
	}
}

@media (max-width: 576px) {
	.forum-block-leftbar,
	.forum-block-middlebar {
	    padding: 15px;
	}
	.forum-block-middlebar {
		padding-left: 0;
	}
	.forum-block-middlebar-title {
		line-height: 18px;
    	margin-top: 0!important;
	}
	.forum-block-rightbar {
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%; 
	}
}

/* pagination */

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #520191;
	border-color: #520191;
}

.simple-pagination .prev,
.simple-pagination .next {
	color: #520191;
	background: #fff;
	border: none;
}

.simple-pagination ul{
	text-align: left !important;
}

.pagination a{
	border: 1px solid #dee2e6 !important;
}

.pagination a:first{
	border-right: none !important;
}
